.themeToggleBtn{

 position: fixed;
 bottom: 4%;
 z-index: 100;
 display: flex;
 justify-self: center;
 background-color: var(--color-background);
 cursor: pointer;
 border: 1px solid var( --nav-border-color)
}

.tglBtn{
    background-color: var(--color-primary);
}