.themeToggleBtn {
  position: fixed;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  background-color: var(--color-background);
  cursor: pointer;
  border: 1px solid var(--nav-border-color);
}

.tglBtn{
    background-color: var(--color-primary);
}