.logoSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
}

.logoRowWrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.logoRow {
  display: flex;
  flex-direction: row;
  gap: 31px;
  width: max-content;
}

.animateLeft {
  animation: scrollLeft 30s linear infinite;
}

.animateRight {
  animation: scrollRight 30s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.brandCard {
  width: 305px;
  height: 180px;
  background-color: #E6E6E6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
}

.brandCard img {
  max-width: 120px;
  height: auto;
}

.shieldIcon {
  color: #1F67F1;
  margin-right: 10px;
  vertical-align: middle;
}

/* Hover to pause animation */
.logoRowWrapper:hover .logoRow {
  animation-play-state: paused;
}

.mobileRow {
  display: none;
}

@media (max-width: 600px) {
  .logoSection {
    padding: 30px 0;
    gap: 15px;
  }

  .brandCard {
    width: 130px;
    height: 80px;
    border-radius: 4px;
  }

  .brandCard img {
    max-width: 80px;
  }

  .mobileRow {
    display: flex;
  }

  .logoRow {
    gap: 15px;
  }
}